/*font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;*/

body {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
}

.main-color {
	color: #563d7c;
}
.bg-main-color {
	background-color: #563d7c;
}

.container-fluid {
	padding: 3% 5% 7%;
}

.navbar-brand {
	font-family: "Josefin Sans", sans-serif;
	font-size: 2.5rem;
	font-weight: light;
}

.head-heading {
	font-family: "Josefin Sans", sans-serif;
	font-weight: bold;
	font-size: 3rem;
	line-height: 1.5;
}

.top-icon {
	transform: rotate(15deg);
	width: 60%;
	margin-left: 1.5rem;
	right: 30%;
	font-size: 16em;
}
@media (max-width: 992px) {
	.top-icon {
		width: 60%;
		transform: rotate(10deg);
		margin-left: 20%;
		margin-top: 1%;
	}
}
@media (max-width: 768px) {
	.top-icon {
		transform: rotate(350deg);
		width: 60%;
		margin-left: 0%;
		margin-top: 2%;
	}
}

.subheading{
	font-family: "Josefin Sans", sans-serif;
	font-size: 2.5rem;
}