/*font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;*/

body {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
}

.main-color {
	color: #563d7c;
}
.bg-main-color {
	background-color: #563d7c;
}

.container-fluid {
	padding: 3% 5% 7%;
}

.navbar-brand {
	font-family: "Josefin Sans", sans-serif;
	font-size: 2.5rem;
	font-weight: light;
}

.table td,
.table th {
	vertical-align: middle;
}

.head-heading {
	font-family: "Josefin Sans", sans-serif;
	font-weight: bold;
	font-size: 3rem;
	line-height: 1.5;
}

.top-icon {
	transform: rotate(15deg);
	width: 60%;
	margin-left: 1.5rem;
	right: 30%;
	font-size: 16em;
}
@media (max-width: 992px) {
	.top-icon {
		width: 60%;
		transform: rotate(10deg);
		margin-left: 20%;
		margin-top: 1%;
	}
}
@media (max-width: 768px) {
	.top-icon {
		transform: rotate(350deg);
		width: 60%;
		margin-left: 0%;
		margin-top: 2%;
	}
}

.width-40 {
	width: 40%;
}

.fa-html5 {
	color: #e44d26;
}
.fa-css3-alt {
	color: #2965f1;
}
.fa-bootstrap {
	color: #602c50;
}
.fa-js {
	color: #f0db4f;
	background-color: #323330;
}
.fa-node {
	color: #68a063;
}
.fa-react {
	color: #61dbfb;
}
.fa-git-alt {
	color: #f1502f;
}
.fa-github {
	color: #211f1f;
}
.fa-php {
	color: #474a8a;
}
.fa-wordpress-simple {
	color: #00749c;
}
.fa-facebook {
	color: #3b5998;
}
.fa-linkedin {
	color: #0e76a8;
}
