/*.page-banner-home{
    background-image: url(/images/bg-home.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #5E5B5B;
}*/

.main-color{
    color: #563d7c;
}
.bg-main-color{
    background-color: #563d7c;
}


.container-fluid {
  padding: 3% 5% 7%;
}
.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.home-heading {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.bootsrap-logo {
  transform: rotate(15deg);
  width: 60%;
  margin-left: 1.5rem;
  right: 30%;
}
@media (max-width: 992px) {
  .bootsrap-logo {
    width: 60%;
    transform: rotate(10deg);
    margin-left: 20%;
    margin-top: 1%;
  }
}
@media (max-width: 768px) {
    .bootsrap-logo {
        transform: rotate(350deg);
        width: 60%;
        margin-left: 20%;
        margin-top: 2%;
      }
    }